  /* スマートフォン用スタイル */
  .mobile-layout {
    max-width: 460px;
    margin: 0 auto;
    font-size: x-small;
    overflow-x: scroll;
  }

  .mobile-col table{
    border-collapse: collapse;
  }


  .mobile-col th,
  .mobile-col td{
    width: auto;
    border: 1px solid black;
    padding: 0.1rem;
  }

  .mobile-right{
    padding-right: 9rem;
  }
  
  .mobile-left{
    padding-left: 9rem;
  }

  /* PC用スタイル */
.tablet-layout {
  max-width: 1024px;
  margin: 0 auto;
}


  .tablet-col table{
    border-collapse: collapse;
  }


  .tablet-col th,
  .tablet-col td{
    width: auto;
    border: 1px solid black;
    padding: 0.5rem;
    
  }

  .tablet-right{
    padding-right: 12.5rem;
  }
  
  .tablet-left{
    padding-left: 12.5rem;
  }

  .copysuccess-icon{
    color: green;
  }
  .copysuccess-text{
    color: green;
  }